body {
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: center;
    background-color: rgb(40, 180, 106);
    height: 40px;
}

header nav li {
    list-style-type: none;
    flex-basis: 10%;
}

header nav li a {
    text-decoration: none;
    color: white;
}

p {
    padding: 30px;
}